<%= semantic_form_for [:admin, @solucao] do |form| %>
  <%= form.inputs do %>
    <%= section_tag :legend => "Informações da Solução" do %>

      <%= form.input :descricao,
                     :label => "Descrição",
                     :input_html => {:autofocus => true} %>

      <%= form.input :detalhe, :required => false %>
      <%= form.input :data_criacao, 
                     :as =>:string,
                     :label => "Data Criação"  %>

      <%= form.input :data_ultima_atualizacao,
                     :as => :string ,
                     :label => "Última Atualização" ,
                     :required => false %>

      <%= form.input :versao_atual,:label => 'Versão Atual',
                     :input_html => {:style => "width:100px",:disabled => true},
                     :required => false  %>

      <li class="check_boxes input optional" style="margin: 0px 0 0 -25px;background-color: #FFF">
        <fieldset class="choices">
            <label style="margin-left: 26px;position:absolute">Itens CheckList</label>
            <ol class="choices-group">
                <%- @check_list_items.each do |check_list_item| %>
                  <li class="choice">
                    <%= check_box_tag "solucao[check_list_item_ids][]",
                                    check_list_item.id ,
                                    @solucao.check_list_item_ids.include?(check_list_item.id) %>
                    <%= content_tag :label,
                        check_list_item.descricao,
                        style:'min-width:400px',
                        for:"solucao_ids_#{check_list_item.id}"  %>
                  </li>
                <% end %>
            </o>
        </fieldset>
      <li>
    <% end %>
  <% end %>

  <%= form.actions :class => "buttons-container" do %>
    <%= submit_button form %>
    <%= link_to_cancel admin_solucoes_path %>
  <% end %>

<% end %>
