<% title "Listagem Soluções" %>

<table border ="0" cellspacing = "1" cellpadding ="0" >
  <thead>
    <tr>
      <th width="30%">Descrição</th>
      <th>Última Atualização</th>
      <th>Versão Atual</th>
      <th>Total Pontos de Função</th>
      <th>Previsão Total Treinamento(Hrs)</th>
      <th width="10">Edit</th>
      <th width="10">Del</th>
    </tr>
  </thead>
  <tbody>
    <% for solucao in @solucoes %>
      <tr>
        <td><%= link_to solucao.descricao,[:admin,solucao],class:"inline-link" %></td>
        <td width ="140"><%= solucao.data_ultima_atualizacao.to_s_br %></td>
        <td width ="90"><%=h solucao.versao_atual %></td>
        <td><%= solucao.peso_total %></td>
        <td><%= solucao.tempo_previsto_treinamento %></td>
        <td width ="10"><%= link_to image_tag(image_link[:edit]), edit_admin_solucao_path(solucao) %></td>
        <td width ="10"><%= link_to image_tag(image_link[:del]), [:admin,solucao],
                          :confirm => 'Confirma exclusão?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>    
</table>

<li class ="links">
  <%= link_to 'Novo Solucao',new_admin_solucao_path,:class => 'new' %>
  <%= link_to 'Alterar Ordenação',ordenar_admin_solucoes_path, id:'ordernar-solucoes' %>
</li>
