<% title "Usuário" %>
<% content_for :bar do %>
  <%= link_to 'Excluir e Substituir Usuário', 
                admin_usuario_pre_replace_path(@usuario),
                id:'destoy-replace-usuario',
                class:'delete-user-button dd-on-index-top-with-header'  %>
<% end %>
<div id="div_show">
  <p>
    <strong>Cargo:</strong>
    <%=h @usuario.usuario_cargo.descricao %>
  </p>
  <p>
    <strong>Nome:</strong>
    <%=h @usuario.nome %>
  </p>
  <p>
    <strong>Email:</strong>
    <%=h @usuario.email %>
  </p>
  <p>
    <strong>Celular:</strong>
    <%=h @usuario.celular %>
  </p>
</div>
<p>
  <li class ="links">
    <%= link_to 'Voltar Lista',admin_usuarios_path,:class => 'back' %>

  </li>
</p>
