<%= form_for(@compromisso) do |f| %>
  <% if @compromisso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compromisso.errors.count, "error") %> prohibited this compromisso from being saved:</h2>

      <ul>
      <% @compromisso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_inicio %><br />
    <%= f.date_select :data_inicio %>
  </div>
  <div class="field">
    <%= f.label :hora_inicio %><br />
    <%= f.time_select :hora_inicio %>
  </div>
  <div class="field">
    <%= f.label :data_fim %><br />
    <%= f.date_select :data_fim %>
  </div>
  <div class="field">
    <%= f.label :hora_fim %><br />
    <%= f.time_select :hora_fim %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :usuario_cadastrante_id %><br />
    <%= f.number_field :usuario_cadastrante_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
