<div id="compromisso-form-container">
  <%= content_tag(:label, @compromisso.new_record? ? "Novo Compromisso" : "Editando Compromisso",
                  id:'hidden-title-compromisso-label',
                  class:'hidden-title-label') %>
  <%= semantic_form_for [:usuario,@compromisso], remote:true do |f| %>
    <div style="overflow:auto;overflow-x:hidden;height:430px; width:700px">
      <%= section_tag do %>
        <br>
        <%= f.inputs do %>
            <%= f.input :usuario_id,
                        :label      => "Profissional*",
                        :as         => :select,
                        :collection => @usuarios.collect{|c| [c.nome,c.id]},
                        :input_html => {style: "max-width: 450px;"} %>

            <%= f.input :descricao, 
                        :label      => "Descrição",
                        :input_html => {rows: 5, style: "min-width: 200px;max-width: 450px;"} %>        

            <%= f.input :data_inicio, 
                        :as         => :string,
                        :label      => "Data início",
                        :input_html => {style: "min-width: 210px;max-width: 210px;"} %>

            <%= f.input :hora_inicio, 
                        :as         => :string,
                        :label      => "Hora início",
                        :input_html => {style: "min-width: 210px;max-width: 210px;"} %>

            <%= f.input :data_fim, 
                        :as         => :string,
                        :label      => "Previsão Término",
                        :input_html => {style: "min-width: 210px;max-width: 210px;"} %> 

            <%= f.input :hora_fim, 
                        :as         => :string,
                        :label      => "Previsão Hora Término",
                        :input_html => {style: "min-width: 210px;max-width: 210px;"} %>
        <% end %>
      <% end %>
      <%= f.actions :class => "buttons-container modal-form-button" do %>
        <%= submit_button f %>
        <%= link_to_cancel "#", id:'compromisso-cancel-link' %>
      <% end -%>
    </div>
  <% end %>
</div>
