<%= form_for usuario_compromissos_path,
		:html => {class:"search-form", id:'compromissos-search-form'}, 
		:method => :get, remote:true do |f| %>

	<div class="field">
		<%= content_tag :label, "Usuário" %>
		<%= select_tag "usuario_id",
					options_for_select(@usuarios.collect{|u| [u.nome, u.id]}, @usuario.nil? ? "" : @usuario.id), 
					:include_blank => true  %>
		<%= hidden_field_tag :date, formata_data(@date), id:'campo-data-compromisso' %>
	</div>
	<%= submit_tag "Pesquisar" %>

<% end %>