<div id="compromissos">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @compromissos_por_data[date] %>
      <ul>
        <% @compromissos_por_data[date].each do |compromisso| %>
          <li><%= link_to compromisso.descricao, [:usuario,compromisso] %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

