<% title "Agenda de Compromisso" %>
<%= content_for :bar do %>
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= link_to "Add New", new_usuario_compromisso_path, remote:true, id:"new-compromisso-link" %>
<% end %>

<% content_for :left_container do %>
  <h1>Filtros</h1>
  <%= render "search_form" %>
<% end %>

<div id="compromissos" style="height: 98%;">
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @compromissos_por_data[date] %>
      <ul>
        <% @compromissos_por_data[date].each do |compromisso| %>
          <li class="<%= css_class_for_compromisso_style(compromisso) %>" id="compromisso-<%= compromisso.id %>">
            <%= link_to "#{compromisso.hora_inicio.to_s(:time)} - #{compromisso.usuario.nome}", 
                        [:usuario,compromisso], 
                        remote:true,
                        class:'show-compromisso-link' %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

