<div id="show-compromisso-container">
  <div id="div_show">
    <p>
      <strong>Descrição:</strong>
      <%= @compromisso.descricao %>
    </p>
    <p>
      <strong>Profissional:</strong>
      <%= @compromisso.usuario.nome %>
    </p>
    <p>
      <strong>Data Início:</strong>
      <%= formata_data(@compromisso.data_inicio) %>
    </p>

    <p>
      <strong>Hora início:</strong>
      <%= formata_hora(@compromisso.hora_inicio) %>
    </p>

    <p>
      <strong>Data Prevista Término:</strong>
      <%= formata_data(@compromisso.data_fim) %>
    </p>

    <p>
      <strong>Hora Prevista Término:</strong>
      <%= formata_hora(@compromisso.hora_fim) %>
    </p>

    <% if @compromisso.has_treinamento? %>
      <p>
        <strong>Nº Progr. Treinamento:</strong>
        <%= link_to @compromisso.treinamento.controle, 
                    usuario_projeto_programacao_treinamento_path(@compromisso.treinamento.id),
                    class:'show-programacao-treinamento-link' %>
      </p>
    <% end %>
    <p>
      <strong>Status:</strong>
      <%= @compromisso.status_descricao %>
    </p>

  </div>

  <br>
  <% unless @compromisso.has_treinamento? %>
    <%= link_to "Editar",
                edit_usuario_compromisso_path(@compromisso), 
                id:'edit-compromisso-link' %> |

    <%= link_to "Excluir", 
                [:usuario,@compromisso], method: :delete, 
                remote:true, 
                confirm: "Confirma Exclusão do Compromisso?" %> |
  <% end %>
  <%= link_to "Fechar", "#", id:'compromisso-back-link' %>

  <br>
  <%= content_tag :div, 
      "ATENÇÃO:: A alteração deste compromisso deverá ser realizada 
      através da Programação de Treinamento",class:'notification-alert' if @compromisso.has_treinamento?  %>
</div>

