<div id="show-compromisso-container">
  <div id="div_show">
    <p>
      <strong>Descrição:</strong>
      <%= @compromisso.descricao %>
    </p>
    <p>
      <strong>Profissional:</strong>
      <%= @compromisso.usuario.nome %>
    </p>
    <p>
      <strong>Data Início:</strong>
      <%= formata_data(@compromisso.data_inicio) %>
    </p>

    <p>
      <strong>Hora início:</strong>
      <%= formata_hora(@compromisso.hora_inicio) %>
    </p>

    <p>
      <strong>Data Prevista Término:</strong>
      <%= formata_data(@compromisso.data_fim) %>
    </p>

    <p>
      <strong>Hora Prevista Término:</strong>
      <%= formata_hora(@compromisso.hora_fim) %>
    </p>
    <% if @compromisso.has_treinamento? %>
      <p>
        <strong>Treinamento:</strong>
        <%= link_to @compromisso.treinamento.controle, "#"%>
      </p>
    <% end   %>
  </div>
  <br>
  <%= link_to "Voltar", "#", id:'compromisso-back-link' %> |
  <% unless @compromisso.has_treinamento? %>
    <%= link_to "Editar", 
                edit_usuario_compromisso_path(@compromisso), 
                remote:true, id:'edit-compromisso-link' %> |

    <%= link_to "Excluir", 
                [:usuario,@compromisso], method: :delete, 
                remote:true, 
                confirm: "Confirma Exclusão do Compromisso?" %> 
  <% end %>
</div>

