<table border="0" cellpadding="0" cellspacing="1">
  <caption>Contatos do Cliente </caption>
  <thead>
    <tr>
      <th width ="200" >Nome</th>
      <th>Email</th>
      <th width ="110">Telefone</th>
      <th width ="110">Celular</th>
      <th width ="10">Det</th>
      <th width ="10">Edit</th>
      <th width ="10">Del</th>
    </tr>
  </thead>
  <tbody>
    <% for cliente_contato in @cliente_contatos %>
      <% @cliente = cliente_contato.cliente %>	
      <tr>
        <td><%=h cliente_contato.nome %></td>
        <td><%=h cliente_contato.email %></td>
        <td><%=h cliente_contato.telefone %></td>
        <td><%=h cliente_contato.celular %></td>
        <td><%= link_to image_tag(image_link[:show]), 
                admin_cliente_contato_path(:id => cliente_contato.id, :local => :cliente_show)  %></td>

        <td><%= link_to image_tag(image_link[:edit]), 
                edit_admin_cliente_contato_path(cliente_contato,:local => :cliente_show) %></td>
        
        <td><%= link_to image_tag(image_link[:del]),  
                    [:admin,cliente_contato], 
                    :confirm => 'Confirma Exclusão ?',
                    :method => :delete %></td>
      </tr>
    <% end %>
   </tbody> 
</table>

<p>
  <li class ="links">
    <%= link_to 'Novo Contato',
      new_admin_cliente_contato_path(:cliente => @cliente,:local => :cliente_show) %>
  </li>
</p>
