<%= content_tag :div, class:'sortable-solicitacoes-container' do%>
	<%= content_tag :div, class:'content-bar-title' do %>
		LISTA DE SOLICITAÇÕES
	<% end %>

	<ul id="planejamento-solicitacoes-container" class="connectedSortable" style="height:80%" >
		<% @solicitacoes.each do |solicitacao|%>
			<%= content_tag(:li,"", controle:solicitacao.controle,
					prioridade:solicitacao.prioridade.id,
					href:new_usuario_tarefa_path(solicitacao_id:solicitacao.id)) do %>
				<%= content_tag(:span,"#{solicitacao.controle}",
					style:prioridade_style(solicitacao.prioridade,false),
					class:"span-solicitacao-id")%>
				<%=content_tag :p, " #{solicitacao.titulo}" %>
			<% end %>
		<% end %>	
	</ul>
	<ul class="legenda-prioridades" style="height:20%">
		<h5>Legenda Priodidades:</h5>
		<% Prioridade.all.each do |p| %>
			<li>
				<%= content_tag(:span,"",style:prioridade_style(p))%>
				<label><%= p.descricao %></label>
			</li>
		<% end %>
	<ul>
<% end unless @from_index %>

<div id="solicitacao-tarefas-container">
	<%= render "tarefas" %>
</div>