<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @status_tempo_evolucao.status %>
</p>

<p>
  <b>Tipo pendencia:</b>
  <%= @status_tempo_evolucao.tipo_pendencia %>
</p>

<p>
  <b>Prioridade:</b>
  <%= @status_tempo_evolucao.prioridade %>
</p>

<p>
  <b>Tempo minutos:</b>
  <%= @status_tempo_evolucao.tempo_minutos %>
</p>


<%= link_to 'Edit', edit_status_tempo_evolucao_path(@status_tempo_evolucao) %> |
<%= link_to 'Back', status_tempo_evolucoes_path %>
