<%= semantic_form_for [:usuario,@cliente] do |form| %>
    <div id="cliente-tabs" class="menutab-content">
      <%= content_tag :ul do %>
        <li>
          <%= link_to "#aba-cliente-basicos" do  %>
            <span>Dados Principais</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#aba-cliente-endereco" do  %>
            <span>Endereço</span>
          <% end %>
        </li>        
        <li>
          <%= link_to "#aba-cliente-cobranca" do  %>
            <span>Cobrança</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#aba-cliente-solucoes" do  %>
            <span>Soluções</span>
          <% end %>
        </li>        
      <% end %>
      <%= render partial:"campos_basicos", locals: {form:form} %>
      <%= render partial:"campos_endereco", locals: {form:form} %>
      <%= render partial:"campos_cobranca", locals: {form:form} %>
      <%= render partial:"campos_solucoes", locals: {form:form,from: :form} %>
    </div>


  <%= form.actions :class => "buttons-container" do %>
     <%= submit_button form %>
     <%= link_to_cancel usuario_clientes_path %>
  <% end %>

<% end %>
