<% title "Cliente" %>

<div id="cliente-show-tabs" class="menutab-content">
  <%= content_tag :ul do %>
    <li>
      <%= link_to "#aba-cliente-show-basicos" do  %>
        <span>Dados Cadastrais</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#aba-cliente-solucoes" do  %>
        <span>Soluções</span>
      <% end %>
    </li>    
    <li>
      <%= link_to "#aba-cliente-contatos" do  %>
        <span>Contatos</span>
      <% end %>
    </li>        
    <li>
      <%= link_to "#aba-cliente-infra" do  %>
        <span>Infra</span>
      <% end %>
    </li>        
  <% end %>
  <%= render "show_dados_basicos" %>
  <%= render "show_contatos" %>
  <%= render "show_solucoes" %>
  <%= render "show_infra" %>
</div>

<p>
  <%= link_to "Voltar ", usuario_clientes_path,:class => 'back' %>
</p>

