<%= semantic_form_for [:admin, @solucao_sub_modulo] do |form| %>
  <%= form.inputs do %>
    <%= section_tag :legend => "Informações do Sub Módulo" do %>
      <% if @solucao_sub_modulo.solucao_modulo%>
        <%= form.input :solucao_modulo_id,:as => :hidden %>
      <%else%>
        <div class="div_combo">
          <label>Módulo*</label>
          <%= grouped_collection_select(
                                :solucao_sub_modulo,
                                :solucao_modulo_id,
                                @solucoes,
                                :solucao_modulos,
                                :descricao,
                                :id,
                                :descricao,
                                {:prompt => " "}) %>
        </div>
      <%end%>
      <%= form.input :descricao,
                     :label      => 'Descrição',
                     :input_html => {:autofocus => true} %>

      <%= form.input :detalhe, :required => false %>
      <%= form.input :data_criacao,:as => :string,:required => false,
                      :label => "Data Criação"%>

      <%= form.input :peso, 
               :label     => "Pontos de Função",
               :hint      => "Definição do peso para treinamento do sub-módulo",
               :input_html=> {:style => "min-width: 210px;max-width: 210px;"}  %>

      <%= form.input :previsao_treinamento_horas, 
               :label     => "Duração Prevista",
               :hint      => "Tempo previsto para treinamento",
               :required  => true,
               :input_html=> {:style => "min-width: 210px;max-width: 210px;"}  %>

    <% end %>
  <% end %>

  <%= form.actions :class => "buttons-container" do %>
    <%= submit_button form %>
    <%= link_to_cancel admin_solucao_modulo_path(@solucao_sub_modulo.solucao_modulo) %>
  <% end -%>

 <% end %>
