<div id="modal-container">
  <div style="height: 700px; overflow-y:scroll; overflow-x:hidden">
    <%= form_tag atualiza_ordem_admin_solucao_sub_modulos_path do |form| %>
      <%= hidden_field_tag :solucao_modulo_id, @solucao_modulo_id %>
      <table border ="0" cellspacing = "1" cellpadding ="0" >
        <thead>
          <tr>
            <th width="16">*</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody  id='sortable-solucao-sub-modulos'>
          <% @solucao_sub_modulos.each do |sub_modulo| %>
            <tr>
              <td>
                <%= link_to image_tag("icons/16/drag-arrow.png"),"#" %>
              </td>
              <td>
                <%= sub_modulo.descricao %>
                <%= hidden_field_tag "ordem[]", sub_modulo.id %>
              </td>
            </tr>
          <% end %>
        </tbody>    
      </table>
      <%= submit_tag "Gravar",class:'submit-button' %>
    <% end %>
  </div>
</div>