<% title "Sub Módulo" %>
<div id ="div_show">
    <p>
      <strong>Módulo:</strong>
      <%=h @solucao_sub_modulo.solucao_modulo.descricao %>
    </p>
    <p>
      <strong>Descrição:</strong>
      <%=h @solucao_sub_modulo.descricao %>
    </p>
    <p>
      <strong>Detalhe:</strong>
      <%=h @solucao_sub_modulo.detalhe %>
    </p>
    <p>
      <strong>Data Criação:</strong>
      <%=h @solucao_sub_modulo.data_criacao.to_s_br %>
    </p>
    <p>
      <strong>Pontos de Função:</strong>
      <%= @solucao_sub_modulo.peso %>
    </p>        
    <p>
      <strong>Previsão Treinamento(hrs):</strong>
      <%= @solucao_sub_modulo.previsao_treinamento_horas %>
    </p>
</div>
<p>
  <li class ="links">
    <%= link_to 'Voltar Módulo', [:admin, @solucao_sub_modulo.solucao_modulo],:class => 'back' %>
  </li>
</p>
