<% title "Sub Módulo" %>
<div id ="div_show">
    <p>
      <strong>Módulo:</strong>
      <%=h @solucao_sub_modulo.solucao_modulo.descricao %>
    </p>
    <p>
      <strong>Descrição:</strong>
      <%=h @solucao_sub_modulo.descricao %>
    </p>
    <p>
      <strong>Detalhe:</strong>
      <%=h @solucao_sub_modulo.detalhe %>
    </p>
    <p>
      <strong>Data Criação:</strong>
      <%=h @solucao_sub_modulo.data_criacao.to_s_br %>
    </p>
</div>
<p>
   <% if @local == 'modulo_show' %> 
      <li class ="links">
        <%= link_to 'Voltar Módulo', [:admin, @solucao_sub_modulo.solucao_modulo],:class => 'back' %>
      </li>
   <% else %>
      <li class ="links">
        <%= link_to 'Voltar Lista',admin_solucao_sub_modulos_path,:class => 'back' %>
      </li>
   <% end %>
  
</p>
