<%= form_for usuario_ordem_servicos_path, 
			remote:true, :html => {class:"search-form" }, :method => :get do |f| %>
	
	<!-- <h1 class="title-search-form">Filtros</h1> -->

	<div class="field">
		<%= content_tag :label, "Nº O.S" %>
		<%= text_field_tag "conditions[ordem_servicos.id]","" %>
	</div>
	
	<div class="field">
		<%= content_tag :label, "Cliente" %>
		<%= select_tag "conditions[cliente_id]",
					options_for_select(@clientes.collect{|c| [c.nome, c.id]}), 
					:include_blank => true %>
	</div>
	<div class="field">
		<%= content_tag :label, "Técnico Responsável: <span>(Usuários)</span>".html_safe %>
		<%= select_tag "conditions[usuario_responsavel_id]",
					options_for_select(@usuarios.collect{|u| [u.nome, u.id]}), 
					:include_blank => true %>
	</div>
	<%= submit_tag "Pesquisar" %>

<% end %>