<tr>
  <td><%= cliente_check_list.check_list_item.descricao %></td>
  <td><%= cliente_check_list.disponivel %></td>
  <td><%= cliente_check_list.data_prevista %></td>
  <td><%= cliente_check_list.motivo %></td>
  <td><%= cliente_check_list.responsavel %></td>
  <td><%= cliente_check_list.nome_responsavel %></td>
</tr>