<tr>
  <td><%= cliente_check_list_item.check_list_item.descricao %></td>
  <td><%= cliente_check_list_item.disponivel %></td>
  <td><%= cliente_check_list_item.data_prevista %></td>
  <td><%= cliente_check_list_item.motivo %></td>
  <td><%= cliente_check_list_item.responsavel %></td>
  <td><%= cliente_check_list_item.nome_responsavel %></td>
</tr>