<h1>Listing etapas</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Pontos funcao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @etapas.each do |etapa| %>
  <tr>
    <td><%= etapa.descricao %></td>
    <td><%= etapa.pontos_funcao %></td>
    <td><%= link_to 'Show', etapa %></td>
    <td><%= link_to 'Edit', edit_etapa_path(etapa) %></td>
    <td><%= link_to 'Destroy', etapa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Etapa', new_etapa_path %>
