<label id="hidden-title-label-projeto-treinamento" class="hidden-title-label">
  <%= @projeto_programacao_treinamento.new_record? ? "Nova Programação" : 
        "Editando Programação nº:#{@projeto_programacao_treinamento.controle}" %>
</label>
<%= semantic_form_for [:usuario, @projeto_programacao_treinamento], remote:true do |f|  %>
  <div style="overflow:auto;overflow-x:hidden;height:430px; width:670px">
    <%= section_tag do %>
      <%= f.inputs do %>
        <%= f.input :usuario_id, 
                    :as         => :select,
                    :label      => "Técnico",
                    :collection => @usuarios.collect{|u|[u.nome,u.id]},
                    :input_html => {:style => "min-width: 410px;max-width: 310px;"} %>


        <%= f.input :data_programacao, 
                    :as         => :string, 
                    :label      => "Data Programação",
                    :input_html => {:style => "min-width: 210px;max-width: 210px;"}  %>

        <%= f.input :hora_programacao,
                    :as         => :string, 
                    :label      => "Início Previsto",
                    :input_html => {:style => "min-width: 210px;max-width: 210px;"}  %>

        <%= f.input :duracao_prevista,
                    :as         => :string, 
                    :label      => "Duração Prevista (Hrs)",
                    :input_html => {:style => "min-width: 210px;max-width: 210px;",disabled:true}  %>

        <%= f.input :data_previsao_termino,
                    :as         => :string, 
                    :label      => "Previsão Término",
                    :input_html => {:style => "min-width: 210px;max-width: 210px;",
                                    disabled:true, 
                                    id:'previsao_termino'}  %>

        <%= f.input :participantes, 
                    :input_html => {:style => "min-width: 410px;max-width: 310px;"}  %>
                              
        <%= f.input :projeto_id, :as => :hidden %>
        <%= f.input :status, :as => :hidden %>
      <% end %>
      <table border="0" cellpadding="0" cellspacing="1" style="width:98%" >
        <caption>Sub Módulos</caption>
        <thead>
          <tr>
            <th width ="10"></th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <% @projeto_programacao_treinamento.solucao_sub_modulos.each do |projeto_programacao_treinamento| %>
            <tr>
              <td>
                <% if @projeto_programacao_treinamento.new_record? %>
                  <%= check_box_tag "projeto_programacao_treinamento[solucao_sub_modulo_ids][]",projeto_programacao_treinamento.id,true %>
                <% else %>
                  <%= hidden_field_tag "projeto_programacao_treinamento[solucao_sub_modulo_ids][]",projeto_programacao_treinamento.id %>
                <% end %>
              </td>
              <td><%= projeto_programacao_treinamento.descricao %></td>
            </tr>
          <% end %>
         </tbody> 
      </table>
      <%= content_tag :p, class:'inline-errors',style:'margin: -5px 0 0 0px; color:#CC0000' do %>
        <%= @projeto_programacao_treinamento.errors[:solucao_sub_modulo_ids].to_sentence  %>
      <% end if @projeto_programacao_treinamento.errors[:solucao_sub_modulo_ids].present? %>
    <% end %>
  </div>
  <%= f.actions :class => "buttons-container modal-form-button" do %>
    <%= submit_button f %>
    <%= link_to_cancel "#", id:'projeto-prog-treinamento-cancel-link' %>
  <% end -%>
<% end %>
