<div id="modal-container-index-prog">
  <div style="overflow:auto;overflow-x:hidden;height:390px;">
    <label id="hidden-title-label-index-prog" class="hidden-title-label">
      <% if @solucao_sub_modulo.nil? %>
        <%="Programações de Treinamentos para o projeto: #{@projeto.nome}" %>
      <% else %>
        <%="Programações de Treinamento para o Sub Módulo: #{@solucao_sub_modulo.descricao}" %>
      <% end %>
    </label>
    <table>
      <thead>
        <tr>
          <th width="70">Nº Progr.</th>
          <th>Técnico</th>
          <th width="120">Data Programação</th>
          <th width="100">Início Previsto</th>
          <th width="140">Duração Prevista(Hrs)</th>
          <th width="140">Previsão Término</th>
          
          <th>Participantes do Treinamento</th>
          <th>Status</th>
          <%= content_tag(:th,"Del") unless @solucao_sub_modulo.nil? %>
        </tr>
      </thead>
      <tbody>
        <% @projeto_programacao_treinamentos.each do |projeto_programacao_treinamento| %>
          <% href = usuario_projeto_programacao_treinamento_path(projeto_programacao_treinamento) %>
          <%= link_to(usuario_projeto_programacao_treinamento_path(projeto_programacao_treinamento)) do %>
            <tr id=<%="table-row-projeto-programacao-treinamento-#{projeto_programacao_treinamento.id}" %>>
              <td class="clickableRow" href=<%= href %>>
                <%= projeto_programacao_treinamento.controle %>
              </td>
              <td class="clickableRow" href=<%= href %>>
                <%= projeto_programacao_treinamento.usuario.nome %>
              </td>              
              <td class="clickableRow" href=<%= href %>>
                <%= formata_data(projeto_programacao_treinamento.data_programacao) %>
              </td>
              <td class="clickableRow" href=<%= href %>>
                <%= formata_hora(projeto_programacao_treinamento.hora_programacao) %>
              </td>
              <td class="clickableRow" href=<%= href %>>
                <%= projeto_programacao_treinamento.duracao_prevista %>
              </td>
              <td class="clickableRow" href=<%= href %>>
                <%= formata_data(projeto_programacao_treinamento.data_previsao_termino,:datetime) %>
              </td>                            
              <td class="clickableRow" href=<%= href %>>
                <%= projeto_programacao_treinamento.participantes %>
              </td>
              <td class="clickableRow" href=<%= href %>>
                <%= projeto_programacao_treinamento.descricao_status %>
              </td>
              <%= content_tag :td do %>
                <% if projeto_programacao_treinamento.solucao_sub_modulos.count == 1 %>
                  <% msg = "Este é o último Sub Módulo contido na Programação de Treinamento nº: #{projeto_programacao_treinamento.controle}, caso seja removido a Programação também será excluída. Deseja Continuar?" %>
                <% else %>
                  <% msg = "Confirma remoção do Sub Módulo da Programação de Treinamento nº: #{projeto_programacao_treinamento.controle}?" %>
                <% end %>                
                <%= link_to image_tag(image_link[:del]), 
                        usuario_remove_sub_modulo_path(projeto_programacao_treinamento,
                              solucao_sub_modulo_id:@solucao_sub_modulo.id),
                              method: :delete, 
                              data: { confirm: msg },
                            remote:true %>
              <% end unless @solucao_sub_modulo.nil? %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
