<h1>Listing projeto_programacao_treinamentos</h1>

<table>
  <tr>
    <th>Projeto</th>
    <th>Data programacao</th>
    <th>Hora programacao</th>
    <th>Usuario</th>
    <th>Participantes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projeto_programacao_treinamentos.each do |projeto_programacao_treinamento| %>
  <tr>
    <td><%= projeto_programacao_treinamento.projeto %></td>
    <td><%= projeto_programacao_treinamento.data_programacao %></td>
    <td><%= projeto_programacao_treinamento.hora_programacao %></td>
    <td><%= projeto_programacao_treinamento.usuario %></td>
    <td><%= projeto_programacao_treinamento.participantes %></td>
    <td><%= link_to 'Show', projeto_programacao_treinamento %></td>
    <td><%= link_to 'Edit', edit_projeto_programacao_treinamento_path(projeto_programacao_treinamento) %></td>
    <td><%= link_to 'Destroy', projeto_programacao_treinamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Projeto programacao treinamento', new_projeto_programacao_treinamento_path %>
