<h1>Listing processos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Pontos funcao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @processos.each do |processo| %>
  <tr>
    <td><%= processo.descricao %></td>
    <td><%= processo.pontos_funcao %></td>
    <td><%= link_to 'Show', processo %></td>
    <td><%= link_to 'Edit', edit_processo_path(processo) %></td>
    <td><%= link_to 'Destroy', processo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Processo', new_processo_path %>
