<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @processo.descricao %>
</p>

<p>
  <b>Pontos funcao:</b>
  <%= @processo.pontos_funcao %>
</p>


<%= link_to 'Edit', edit_processo_path(@processo) %> |
<%= link_to 'Back', processos_path %>
