<div id="fragment-1">
<%= form.inputs do %>
  <%= section_tag  do %>
    <br>
    <%= form.input  :cliente_id,
                    :collection   => @clientes,
                    :as           => :select,
                    :label        => "Cliente",
                    :member_label => :nome,
                    :required     => true,
                    :input_html   => {:id        => "cliente-select-id",
                                      :disabled  => !@solicitacao.permite_alterar_cliente? } %>
    <%= hidden_field_tag "solicitacao[cliente_id]",@solicitacao.cliente_id if !@solicitacao.permite_alterar_cliente? %>
    <%= form.input :cliente_contato_id,
                   :as            => :select,
                   :collection    => @contatos,
                   :label         => "Solicitante",
                   :member_label  => :nome,
                   :prompt        => " ",
                   :required      => true,
                   :input_html    => {:id => "cliente-contato-select-id"} %>

    <div class="div-field">
      <label>M칩dulo*</label>
      <% @solucoes = [] if @solucoes.nil? %>
      <%= grouped_collection_select(:solicitacao,
                                    :modulo_id,
                                    @solucoes,
                                    :solucao_modulos,
                                    :descricao, :id, :descricao,
                                    {:include_blank => true},
                                    {:id => "solucao-modulos-select-id"}) %>
                                    
    </div>

    <div class="div-field">
      <label>Sub M칩dulo*</label>
      <% @sub_modulos = [] if @sub_modulos.nil? %>
      <%= collection_select(:solicitacao,
                            :solucao_sub_modulo_id,
                            @sub_modulos,
                            :id,
                            :descricao,
                            {:prompt => " "},
                            {:id => "solucao-sub-modulos-select-id"}) %>
      <% if @solicitacao.errors[:solucao_sub_modulo_id].present? %>
          <%= content_tag :p, @solicitacao.errors[:solucao_sub_modulo_id].to_sentence, 
          :class => "inline-errors" %>
      <% end %>
    </div>

    <% if @solicitacao.id.nil? %>
      <%= form.input :usuario_responsavel,
                     :collection => @usuarios,
                     :label => "Respons치vel",
                     :member_label => :nome,
                     :required     => true %>
    <% else %>
      <div class="div-field">
        <label>Respons치vel</label>
        <%= text_field_tag "Responsavel",@solicitacao.usuario_responsavel.nome,disabled:true %>
      </div>
    <% end %>

    <%= form.input :prioridade,
                   :collection    => @prioridades,
                   :member_label  => :descricao,
                   :required      => true %>

    <%= form.input :tipo_pendencia,
                   :collection    => @tipo_pendencias,
                   :label         => 'Tipo',
                   :member_label  => :descricao,
                   :required      => true,
                   :input_html    => {:id => "solicitacao-tipo-pendencia"} %>
  <% end %>
<% end %>
</div>