<% content_for :left_container do %>
  <h1>Solicitações</h1>
  <%= render "search_form_index" %>

  <ul class="my-tasks">
    <h1>Minhas Tarefas </h1>    
    <% @status = load_status %>
    <% for status in @status %>
      <li>
        <%= link_to status[0],
            usuario_solicitacoes_path(:status_id  => status[2]),
                          :style => (status[3] == true ? "font-weight: bold" : "")  %>
          <span><%= status[1] %></span>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_tag [:edit_multiple, :usuario, :solicitacoes] do %>
   <table border="0"  cellspacing="1" cellpadding="0" class="tablesorter" >
    <thead>
      <tr>
        <th width ="10"><input type="checkbox" id="checkall" class="check" ></th>
        <th width = "70">Nº Solic.</th>
        <th>Cliente</th>
        <th>Título</th>
        <th>Sub Módulo</th>
        <th width = "70">Prioridade</th>
        <th width ="120">Tipo</th>
        <th width ="30">Dias</th>
        <th width ="10">Edit</th>
        <th width ="10">Del</th>
      </tr>
    </thead>
    <tbody>
      <% hoje = Date.parse(Time.now.strftime("%Y-%m-%d")) %>
      <% for solicitacao in @solicitacoes %>
        <%= content_tag :tr, :class => (solicitacao.nao_lido == true ? "unread" : "")  do %>
          <td><%= check_box_tag "solicitacao_ids[]",solicitacao.id %> </td>
          <td>
            <%= link_to solicitacao.id.to_s.rjust(5,'0'), [:usuario,solicitacao], class:'inline-link',style:"width:85%" %>
          </td>
          <td><%=h solicitacao.cliente_nome %></td>
          <td><%=h solicitacao.titulo %></td>
          <td><%=h solicitacao.sub_modulo %></td>
          <td><%=h solicitacao.prioridade_descricao %></td>
          <td><%=h solicitacao.tipo_descricao %></td>
          <td><%=h (hoje - Date.parse(solicitacao.created_at.strftime("%Y-%m-%d"))).to_i %></td>
          <td><%= link_to image_tag(image_link[:edit]), [:edit, :usuario, solicitacao], remote:true, class:'solicitacao-link' %></td>
          <td><%= link_to image_tag(image_link[:del]), [:usuario, solicitacao], :confirm => 'Confirma exclusão ?',:method => :delete %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <!-- Utlizado para retornar lista de solicitacoes do status atual. Ex: se estiver
      Selecionando registros com status Aberto, deverá retornar para a lista de status
      Aberto após realizar a movimentacao -->
  <%= hidden_field_tag "status_id",@status_id %>

  <% b = false %>
  <% b = true if @solicitacoes.empty? %>
  <div>
    <%= submit_tag "Registrar Status",:disabled => b %>
  </div>

<% end %>
