<%= form_tag [:edit_multiple, :usuario, :solicitacoes] do %>
   <table border="0"  cellspacing="1" cellpadding="0" class="tablesorter" >
    <thead>
      <tr>
        <th width ="10"><input type="checkbox" id="checkall" class="check" ></th>
        <th width = "70">Nº Solic.</th>
        <th>Cliente</th>
        <th>Título</th>
        <th>Sub Módulo</th>
        <th width = "70">Prioridade</th>
        <th width ="120">Tipo</th>
        <th width ="30">Dias</th>
        <th width ="10">Det</th>
        <th width ="10">Edit</th>
        <th width ="10">Del</th>
      </tr>
    </thead>
    <tbody>
      <% hoje = Date.parse(Time.now.strftime("%Y-%m-%d")) %>
      <% for solicitacao in @solicitacoes %>
        <%= content_tag :tr, :class => (solicitacao.nao_lido == true ? "unread" : "")  do %>
          <td><%= check_box_tag "solicitacao_ids[]",solicitacao.id %> </td>
          <td><%=h solicitacao.id.to_s.rjust(5,'0') %></td>
          <td><%=h solicitacao.cliente_nome %></td>
          <td><%=h solicitacao.titulo %></td>
          <td><%=h solicitacao.sub_modulo %></td>
          <td><%=h solicitacao.prioridade_descricao %></td>
          <td><%=h solicitacao.tipo_descricao %></td>
          <td><%=h (hoje - Date.parse(solicitacao.created_at.strftime("%Y-%m-%d"))).to_i %></td>
          <td><%= link_to image_tag(image_link[:show]), :controller => 'solicitacoes',:action => 'show' ,:id => solicitacao.id,:local => 'tasks_user' %></td>
          <td><%= link_to image_tag(image_link[:edit]), [:edit, :usuario, solicitacao], remote:true, class:'solicitacao-link' %></td>
          <td><%= link_to image_tag(image_link[:del]), [:usuario, solicitacao], :confirm => 'Confirma exclusão ?',:method => :delete %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <!-- Utlizado para retornar lista de solicitacoes do status atual. Ex: se estiver
      Selecionando registros com status Aberto, deverá retornar para a lista de status
      Aberto após realizar a movimentacao -->
  <%= hidden_field_tag "status_id",@status_id %>

  <% b = false %>
  <% b = true if @solicitacoes.empty? %>
  <div>
    <%= submit_tag "Registrar Status",:disabled => b %>
  </div>

<% end %>
