<% title "Controle de Solicitações - #{@status_description}" %>
<%= render :partial   => "search_form",
           :locals    => {:remote_form => false} %>

<div id="solicitacoes">
  <%= render 'solicitacoes' %>
</div>

<% content_for :bar do %>
	<%= link_to "Gerar Cronograma", 
			usuario_tarefas_path(solicitacao_ids:'') ,
			default_url:usuario_tarefas_path(solicitacao_ids:''),
			id:'planejamento-link',
			class:'button-planing add-on-index-top-with-header' %>

	<%= link_to "Registrar Status", "#",
			id:'registrar-status-submit-link',
			class:'register-status add-on-index-top-with-header' %>

	<%= link_to 'Nova Solicitação', 
							new_usuario_solicitacao_path, 
							id:'solicitacao-link',
							class:'button-add-new add-on-index-top-with-header'  %>
<% end %>