<% content_for :left_container do %>
  <%= content_tag :div, class:"show-resumo" do %>
    <%= content_tag :div, class:"titulo-container" do %>
      <p style="width:100%"><%="Solicitação nº: #{@solicitacao.id.to_s.rjust(5,'0')}" %></p>
      <div class="show-links">
        <%= link_to "Voltar", usuario_solicitacoes_path %>
        <%= link_to 'Registrar Status', "#" %>   
        <%= link_to "Editar",  
            [:edit, :usuario, @solicitacao], remote:true, id:'solicitacao-link',class:'first' %>         
      </div>    
    <% end %>

    <%= content_tag :div, class:"detalhes" do %>
      <dl>
        <dt>Solução</dt>
        <dd><%= @solicitacao.solucao_sub_modulo.solucao_modulo.solucao.descricao %></dd>
        <dt>Status</dt>
        <dd class="destak"><%= @solicitacao.status.descricao %></dd>      
        <dt>Cadas. por</dt>
        <dd><%= @solicitacao.usuario_cadastrante.nome %></dd>
        <dt>Cadastro</dt>
        <dd><%= formata_data(@solicitacao.created_at,:long) %></dd>
      </dl>
    <% end %> 
  <% end %>
<% end %>


<% content_for :menu do %>
  <%= content_tag :div, class:"show-menu-container" do %>
    <div id="tab-menu-solicitacoes" >
      <%= content_tag :ul do %>
        <%= content_tag :li, :id => "solicitacao-menu-tab-detalhes" do %>
          <%= link_to "Detalhes", "#solicitacao-tab-detalhes" %>
        <% end %>
        <%= content_tag :li, :id => "solicitacao-menu-tab-historico" do %>
          <%= link_to "Histórico Movimentações", "#solicitacao-tab-historico" %>
        <% end %>

      <% end %>
      <!--
      <div class="show-content-menu">
        <%= link_to "Editar",  
            [:edit, :usuario, @solicitacao], remote:true, id:'solicitacao-link',class:'first' %> 
        <%= link_to 'Nova Solicitação', new_usuario_solicitacao_path, remote:true, id:'solicitacao-link' %>        
        <%= link_to 'Registrar Status', "#" %>   
        <%= link_to "Voltar", usuario_solicitacoes_path %>
      </div>
      -->
      <%= render 'show_detalhes' %>
      <%= render 'show_historicos' %>
    </div>
  <% end %>
<% end %>

