<% title "Status" %>
<div id='div_show'>
  <p>
    <strong>Descrição:</strong>
    <%=h @status.descricao %>
  </p>
  <p>
    <strong>Padrão:</strong>
    <%= @status.padrao? ? 'Sim' : 'Não' %>
  </p>
  <p>
    <strong>Encerramento:</strong>
    <%= @status.encerramento? ? 'Sim' : 'Não' %>
  </p>
  <div id="status-tempo-evolucoes">
    <%= render "evolucao_config" %>   
  </div>
</div>
<%= link_voltar %>
