<% title "Status" %>
<div id='div_show'>
  <p>
    <strong>Descrição:</strong>
    <%=h @status.descricao %>
  </p>
  <p>
    <strong>Padrão:</strong>
    <%= @status.padrao? ? 'Sim' : 'Não' %>
  </p>
  <p>
    <strong>Encerramento:</strong>
    <%= @status.encerramento? ? 'Sim' : 'Não' %>
  </p>
  <div id="status-tempo-evolucoes">
    <%= render "evolucao_config" %>   
  </div>
  <%= link_to "Adicionar Configuração", 
      new_admin_status_status_tempo_evolucao_path(@status),
      id:'status-tempo-link',
      remote:true%>
</div>
<%= link_voltar %>
