<table border ="0" cellspacing ="1" cellpadding ="0" style="width:99%;margin-left:12px;" >
  <caption>Sub Módulos </caption>
  <thead>
    <tr>
      <th width="40%">Descrição</th>
      <th>Total Pontos de Função Sub Módulo</th>
      <th>Previsão Total Treinamento Sub Módulo(hrs)</th>
      <th width="10">Edit</th>
      <th width="10">Del</th>
    </tr>
  </thead>
  <tbody>  
    <% for solucao_sub_modulo in @solucao_sub_modulos %>
      <tr>
        <td>
          <%= link_to solucao_sub_modulo.descricao,
              admin_solucao_sub_modulo_path(:id => solucao_sub_modulo.id,:local => :modulo_show),
              class:'inline-link' %>
        </td>
        <td><%= solucao_sub_modulo.peso %></td> 
        <td><%= solucao_sub_modulo.previsao_treinamento_horas %></td> 
        <td><%= link_to image_tag(image_link[:edit]), 
            edit_admin_solucao_sub_modulo_path(solucao_sub_modulo,:local => :modulo_show) %></td>
            
        <td><%= link_to image_tag(image_link[:del]), 
                [:admin, solucao_sub_modulo], 
                :confirm => 'Confirma Exclusão?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

