<% title "Módulo" %>
<div id="div_show" >
  <% @solucao = @solucao_modulo.solucao %> 	
  <p>
    <strong>Solucao:</strong>
    <%=h @solucao_modulo.solucao.descricao %>
  </p>
  <p>
    <strong>Descrição:</strong>
    <%=h @solucao_modulo.descricao %>
  </p>
  <p>
    <strong>Detalhe:</strong>
    <%=h @solucao_modulo.detalhe %>
  </p>
  <p>
    <strong>Total Pontos de Função:</strong>
    <%= @solucao_modulo.peso_total %>
  </p>    
  <p>
    <strong>Previsão Total Treinamento(hrs):</strong>
    <%= @solucao_modulo.tempo_previsto_treinamento %>
  </p>
</div>
<%= render :partial => 'show_sub_modulos' %>
<p>
  <li class ="links">
    <%= link_to 'Voltar Solução',[:admin,@solucao],:class => 'back' %>
  </li>
  <li class ="links">
    <%= link_to 'Sub Módulo',new_admin_solucao_sub_modulo_path(:solucao_modulo => @solucao_modulo),:class => 'new' %>
  </li>
  <li class ="links">
    <%= link_to 'Novo Módulo',new_admin_solucao_modulo_path(:solucao => @solucao) ,:class => 'new' %>
  </li>
  <li class ="links">    
    <%= link_to 'Nova Solução',new_admin_solucao_path() ,:class => 'new' %>
  </li>
  
</p>
