<tr>
  <td><%= ordem_servico_item.descricao_modulo %></td>
  <td><%= ordem_servico_item.solucao_sub_modulo.descricao %></td>
  <td><%= ordem_servico_item.setor %></td>
  <td><%= ordem_servico_item.usuarios %></td>
  <td><%= ordem_servico_item.tipo_avaliacao.descricao %></td>	
  <td><%= ordem_servico_item.situacao.descricao %></td>
</tr>