<%= section_tag id:"projeto-menu-aba-treinamento", class:"section-tag-whiteBg" do %>
	<%= semantic_form_for @projeto,url:gerenciar_sub_modulos_usuario_projetos_path,
																	:html => {:method => :put, 
																		style:'width: 100%;max-width:100%',
																		id:"sub-modulos-form"} do |form| %>

		<%= hidden_field_tag :id, @projeto.id %>
		<%= hidden_field_tag :action_trigger, "",id:'action-trigger' %>
		<%= content_tag :div, class:'action-buttons' do %>
			<%= submit_tag "Salvar", class:"submit-button",id:'submit-sub-modulos-projeto' %>
			<%= link_to "Confirmar",new_usuario_projeto_programacao_treinamento_path(
													projeto_id:@projeto.id,sub_modulo_ids:""),
													default_url:new_usuario_projeto_programacao_treinamento_path(projeto_id:@projeto.id,sub_modulo_ids:""),
													id:'programacao-treinamento-link',
													remote:true,
													class:'programar-treinamento-link' %>
			<%= link_to "Adicionar M贸dulos/Sub M贸dulos","#", id:'adicionar-sub-modulos-projeto',class:'normal-link' %>
			<%= link_to "Remover M贸dulos/Sub M贸dulos","#",id:'remover-sub-modulos-projeto',class:'normal-link' %>
			<%= link_to "Programar Treinamento","#",id:'programar-treinamento',class:'normal-link' %>

		<% end %>

	  <% @projeto.solucoes.each do |solucao| %>
	  		<div class="solucoes-container-itens">
					<%= monta_solucoes_projeto_treinamento(solucao,
												solucao_ids:@projeto.solucao_ids,
												projeto_id:@projeto.id,
												modulo_ids:@projeto.solucao_modulo_ids,
												sub_modulo_ids:@projeto.solucao_sub_modulo_ids,
												sub_modulos_programados_treinamento:@projeto.sub_modulos_programados_treinamento) %>
				</div>
	  <% end %>
  <% end %>
<% end %>