<div id="fragment-1">
	<%= f.inputs do %>
	  <%= section_tag do %>
	    <%= f.input :cliente_id, 
	                :as         => :select, 
	                :required   => true,
	                :collection => @clientes.collect{|c| [c.nome, c.id]},
	                :input_html => {:id => "cliente-select-carrega-solucao", autofocus:true}  %>

	    <%= f.input :nome, :label => "Nome Projeto" %>
	    <%= f.input :data_inicio, 
	                :as         => :string, 
	                :label      => "Data Início",
	                :input_html => {:style => "max-width: 150px !important;"} %>

	    <%= f.input :data_prevista_termino, 
	                :as         => :string, 
	                :label      => "Data Prevista Término",
	                :input_html => {:size => 40} %>
	    
	    <li class="check_boxes input optional" style="margin: 0px 0 0 -25px;background-color: #FFF">
	      <fieldset class="choices">
	      		<label style="margin-left: 26px;position:absolute">Soluções</label>
	          <ol class="choices-group" id="projeto-solucoes">
	              <%- @solucoes.each do |solucao| %>
	                <li class="choice" id=<%="li-projeto_solucao_id_#{solucao.id}" %>>
	                  <%= check_box_tag "projeto[solucao_ids][]",
	                                  solucao.id ,
	                                  @projeto.solucao_ids.include?(solucao.id),
	                                  id:"projeto_solucao_id_#{solucao.id}",
	                                  disabled:@projeto.cliente.nil? %>
	                  <%= content_tag :label,solucao.descricao, for:"projeto_solucao_ids_#{solucao.id}"  %>
	                </li>
	              <% end %>
	          </o>
	      </fieldset>
	    <li>

	    <li class="check_boxes input optional" style="margin: 0px 0 0 -25px">
	      <fieldset class="choices">
	      		<label style="margin-left: 26px;position:absolute">Etapas do Projeto</label>
	          <ol class="choices-group" id="sortable">
	              <%- @etapas.each do |etapa| %>
	                <li class="choice">
	                  <span class="drag"></span>
	                  <%= check_box_tag "projeto[etapa_ids][]",
	                                  etapa.id ,
	                                  @projeto.etapa_ids.include?(etapa.id),
	                                  id:"projeto_etapa_ids_#{etapa.id}" %>
	                  <%= content_tag :label,etapa.descricao, for:"projeto_etapa_ids_1#{etapa.id}"  %>
	                </li>
	              <% end %>
	          </o>
	      </fieldset>
	    <li>
		    <%= f.input :frequencia_visita, 
		                :as         => :select,
		                :collection => options_for_frequencia,
		                :label      => "Frequência das Visitas",
		                :input_html => {disabled: !@projeto.etapa_ids.include?(Etapa::TREINAMENTO),
		                								id:'frequencia-visita'} %>
				
				<%= f.input :duracao_visita_horas,
										:label      => "Duração das Visitas",
										:input_html => {disabled: !@projeto.etapa_ids.include?(Etapa::TREINAMENTO),
																		id:'duracao_visita_horas'}	%>									
	  <% end %>
	<% end %>
</div>