<%= section_tag id:"fragment-1", class:"section-tag-whiteBg" do %>
	<table>
	  <tbody>
	  	<tr>
		  	<td><%= "Tarefas / Solicitações" %></td>
	  		<td width="120"><%= plota_grafico(perc:93) %></td>
  		<tr>
	  	<tr>
		  	<td><%= "Implantação" %></td>
	  		<td width="120"><%= plota_grafico(perc:40) %></td>
  		<tr>
	  </tbody>
	</table>
<% end %>