<%= section_tag id:"fragment-1", class:"section-tag-whiteBg" do %>
	<table>
	  <tbody>
	  	<% projeto.etapas_projetos.each do |ep| %>
		  	<%= content_tag :tr do %>
			  	<td>
			  		<%= content_tag :label, class:'popup-label' do %>
			  			<%= ep.etapa.descricao %>
			  			<div class="popup-container">
			  				<dl> 
			  					<dt><%= "Participação no Projeto" %> </dt>
		  						<dd><%= "#{ep.participacao_projeto}%" %> </dd>
		  						<dt><%= "Pontos Função Etapa"%></dt>	
			  					<dd><%= "#{ep.peso}"%></dd>
			  				</dl>
			  			</div>
		  			<% end %>
			  	</td>
		  		<td width="100"><%= plota_grafico(perc:ep.progresso) %></td>
	  		<% end %>
	  	<% end %>
	  </tbody>
	</table>
<% end %>

