<%= content_tag :div, class:"show-resumo" do %>
  <%= content_tag :div, class:"titulo-container" do %>
    <%= image_tag("icons/32/project.png", class:"projeto-imagem") %>
    <p><%= @projeto.nome %></p>
    <div class="show-links">
      <%= link_to "Voltar", usuario_projetos_path %>
      <%= link_to "Excluir", usuario_projeto_path(@projeto),
                          method: :delete,
                          confirm:'Confirma Exclusão do Projeto ?' %>      
      
      <%= link_to "Editar", edit_usuario_projeto_path(@projeto),
                            id:'projeto-link', 
                            class:'first' if possui_permissao?(:edit_projeto) %>

    </div>
  <% end %>

  <%= content_tag :div, class:"detalhes" do %>
    <dl>
      <dt>Abertura</dt>
      <dd><%= formata_data(@projeto.created_at,:long) %></dd>
      <dt>Aberto por</dt>
      <dd><%= @projeto.usuario.nome %></dd>
      <dt>Cliente</dt>
      <dd><%= @projeto.cliente.nome %></dd>
      <dt>Início</dt>
      <dd><%= formata_data(@projeto.data_inicio) %></dd>
      <dt>Previsão Término</dt>
      <dd><%= formata_data(@projeto.data_prevista_termino) %></dd>
      <dt>Pontos de Função</dt>
      <dd><%= @projeto.peso_total %></dd>
      <dt>Status</dt>
      <dd class="destak"><%= "#{@projeto.descricao_status} (#{@projeto.progresso}% concluído)" %></dd>      
    </dl>
  <% end %> 
<% end %>