<%= content_tag :tr,id:"solicitacao-#{solicitacao.id}" do %>
  <td width = "50">
    <%= link_to solicitacao.id.to_s.rjust(5,'0'), 
        [:usuario,solicitacao], class:'inline-link',style:"width:65%;position:relative" %>
  </td>
  <td><%=h link_to solicitacao.cliente.nome,[:usuario,solicitacao], class:'inline-link' ,style:"width:65%;position:relative" %></td>
  <td><%=h link_to solicitacao.titulo,[:usuario,solicitacao], class:'inline-link',style:"width:65%;position:relative"  %></td>
  <td><%=h link_to solicitacao.solucao_sub_modulo.descricao, [:usuario,solicitacao], class:'inline-link',style:"width:65%;position:relative"  %></td>
  <td><%=h link_to solicitacao.usuario_responsavel.nome,[:usuario,solicitacao],class:'inline-link' ,style:"width:65%;position:relative" %></td>
  <td><%=h solicitacao.prioridade.descricao %></td>
  <td><%=h solicitacao.tipo_pendencia.descricao %></td>
  <td><%= content_tag :span, solicitacao.status.descricao, class:'labels label-info'%></td>
  <td>
    
    <div class="container-oculto">
      <%= link_to image_tag(image_link[:edit]), 
        [:edit, :usuario, solicitacao], 
        class:'solicitacao-link' %>

      <%= link_to image_tag(image_link[:del]), 
        [:usuario, solicitacao], 
        remote:true,
        :confirm => 'Confirma exclusão ?',
        :method => :delete %>
    </div>
  </td>
<% end %>
