<%= content_tag :tr do %>
  <td width = "70"><%= solicitacao.id.to_s.rjust(5,'0') %></td>
  <td><%=h solicitacao.titulo %></td>
  <td>
    <div class="container-oculto">
      <%= link_to image_tag(image_link[:show]), 
          :controller => 'solicitacoes',
          :action => 'show' ,
          :id => solicitacao.id,:local => 'tasks_user' %>

      <%= link_to image_tag(image_link[:edit]), 
        [:edit, :usuario, solicitacao], 
        remote:true, 
        class:'solicitacao-link' %>

      <%= link_to image_tag(image_link[:del]), 
        [:usuario, solicitacao], 
        :confirm => 'Confirma exclusão ?',:method => :delete %>
    </div>
  </td>
<% end %>
