<% content_for :left_container do %>
  <%= render "projeto_resumo_detalhes" %>
  <%= content_tag :div, class:"menutab-mini-content", style:"margin-top: 10px;" do %>
 		<div id="tab-resumo-projeto" >
      <%= content_tag :ul do %>
        <li id = "projeto-tab1">
          <%= link_to "#fragment-1" do  %>
            <span>Progresso</span>
          <% end %>
        </li>
        <li id = "projeto-tab2" >
          <%= link_to "#fragment-2" do  %>
            <span>Participantes</span>
          <% end %>
        </li>
      <% end %>

      <div id="projeto-progresso">
        <%= render partial:"projeto_resumo_progresso", locals: {projeto:@projeto} %>
      </div>
      <div id="projeto-participantes">
        <%= render partial:"projeto_resumo_participantes", locals: {projeto:@projeto} %>
      </div>
    </div>
  <% end %>
<% end %>


<% content_for :menu do %>
  <%= content_tag :div, class:"projeto-menu-container" do %>
    <div id="tab-menu-projeto" >
      <%= content_tag :ul do %>
      	<% etapas = @projeto.etapas %>
        <% etapas.each do |etapa| %>
          <%= content_tag :li, :id => "projeto-menu-tab-#{etapa.contexto}" do %>
            <%= link_to etapa.descricao, "#projeto-menu-aba-#{etapa.contexto}" %>
          <% end %>
        <% end %>
      <% end %>
      <%= render 'etapa_desenvolvimento' if @projeto.possui_desenvolvimento? %>
      <%= render 'etapa_instalacao' if @projeto.possui_instalacao? %>
    </div>
  <% end %>
<% end %>



