<!DOCTYPE html>
<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', :media => "all" %>
  
  <%= yield(:tiny_mce) %>  
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render "/shared/header" %>
  <class = "left">
    <ul id="slide">
      <li class="top clicked">
        <ul>
          <li class="static-item">
            <%= link_to 'Projetos', usuario_projetos_path,:class => 'header-link' %>
          </li>
          <li class="static-item">
            <%= link_to 'Ordens Serviços', usuario_ordem_servicos_path,:class => 'header-link' %>
            <%= link_to '',
                      new_usuario_ordem_servico_path(),:class => 'add-link' %>
          </li>
          <li class="static-item">
            <%= link_to 'Atendimentos', usuario_atendimentos_path,:class => 'header-link' %>
            <%= link_to '',new_usuario_atendimento_path,:class => 'add-link' %>
          </li>
          <li class="static-item">
            <h2>Solicitações</h2>
            <%= link_to '',new_usuario_solicitacao_pesquisa_path,class:'find-link' %>
            <%= link_to '',
                      new_usuario_solicitacao_path(local:"tasks_user",status_id:@status_id),
                                                  class:'add-link solicitacao-link',remote:true %>
          </li>
          <li class="static-item">
            <h2>Minhas Tarefas</h2>
          </li>
          <% @status = load_status %>
          <% for status in @status %>
            <li>
              <%= link_to status[0],
                  usuario_solicitacoes_path(:status_id  => status[2]),
                                :style => (status[3] == true ? "font-weight: bold" : "")  %>
                <span><%= status[1] %></span>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>

  <div id="toolbar" >
    <%- if show_title? -%>
      <h1 class="title" id="content-title" ><%=h yield(:title) %></h1>
    <%- end -%>
    <%= yield :bar %>
  </div>

  <div class="content">
    <div id="container" >
      <%- flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end %>
    </div>
    <%= yield %>
  </div>

 </body>
</html>
