<!DOCTYPE html>
<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', :media => "all" %>
  <%= javascript_include_tag  "//tinymce.cachefly.net/4.0/tinymce.min.js" %>
  <%= yield(:tiny_mce) %>  
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render "/shared/header" %>
  <div class="projetos-left-container">
    <%= yield :left_container %>
  </div>
  <div id="toolbar" class="projeto-toolbar" >
    <%- if show_title? -%>
      <h1 class="title" id="content-title" ><%=h yield(:title) %></h1>
    <%- end -%>
    <%= yield :bar %>
  </div>
  <div class="projetos-conteudo">
    <div id="container" >
      <%- flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end %>
    </div>
    <%= yield %>
  </div>
 </body>
</html>
