<!DOCTYPE html>
<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', :media => "all" %>
  <%= yield(:tiny_mce) %>  
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render "/shared/header" %>
  <div class = "left" style="width:70px">
    <%= render "/shared/main_lateral_menu_bar" %>
    <ul class="left-col-container" style="width:10px">
      <%= yield :left_container %>
    </ul>
  </div>

  <div id="toolbar" style="left:55px" >
    <%- if show_title? -%>
      <h1 class="title" id="content-title" ><%=h yield(:title) %></h1>
    <%- end -%>
    <%= yield :bar %>
  </div>

  <div class="content" style="left:54px">
    <div id="container" >

    </div>
    <%= yield %>
  </div>

 </body>
</html>
