<!DOCTYPE html>
<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', :media => "all" %>
  <%= javascript_include_tag  "//tinymce.cachefly.net/4.0/tinymce.min.js" %>
  <%= yield(:tiny_mce) %>  
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render "/shared/header" %>
  <div class="show-full-width" id="show-container-id">
    <div id="container" >
      <%- flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end %>
    </div>
    <%= yield :menu %>
    <%= yield %>
  </div>
 </body>
</html>
